

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 auto;
  width: 300px; /* Ancho de la tarjeta */
  height: 200px; /* Alto de la tarjeta */
  margin: 0 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
#antes,
#despues {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.card-img-top {
  width: 100%; /* Ancho del 100% para ocupar todo el espacio de la tarjeta */
  height: auto; /* Mantener la proporción original de la imagen */
  border-radius: 30px; /* Si se desea mantener el borde redondeado */
}